<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapperインターフェスと修飾名を一致させる -->
<mapper namespace="jp.co.sss.equipment.mapper.DetailMapper">
	<!-- Mapperのメソッド名と一致させる -->
	<!-- 前がDBで後ろがDTOでASで紐づかせ安定させる -->
	<!-- 追加機能実装 -->
	<select id="detailFind"
		resultType="jp.co.sss.equipment.dto.DetailListViewDto">
		SELECT
		equipment_name AS equipmentName,
		
		<!-- 追加項目（追加機能） -->
		stock_type AS stockType,
		<!-- 追加項目ここまで -->
		
		parent_stock_code AS
		parentStockCode,
		staff_name AS staffName,
		rent_flag AS rentFlag,
		start_date AS startDate,
		limit_date AS limitDate,
		
		<!-- 追加項目（追加機能） -->
		destination_serial AS destinationSerial,
		product_name AS productName,
		maker AS maker,
		ownership_type AS ownershipType,
		lease_return_date AS leaseReturnDate,
		<!-- 追加項目ここまで -->
		
		confirmed_date AS confirmedDate,
		remarks AS remarks,
		equipment_id AS equipmentId,
		staff_no
		AS staffNo
		FROM equip_detail_view
		WHERE
		equipment_name LIKE CONCAT('%',
		#{name}, '%')
		<!-- nameはHTMLから検索したい値をmapper経由でxmlに渡して対象を検索する -->
		<!-- DBのequip_detail_viewを参照する -->
	</select>

	<!-- 最初は名前だけを取得するために作成したが、controllerの中身を変更しget(0)を使用したため現在は不使用 -->
	<select id="detailNameFind"
		resultType="jp.co.sss.equipment.dto.DetailListViewDto">
		SELECT
		equipment_name AS equipmentName
		FROM equip_detail_view
		WHERE equipment_name LIKE CONCAT('%', #{name}, '%')
	</select>

	<!--返却画面表示の場合 -->
	<select id="returnFind"
		resultType="jp.co.sss.equipment.dto.DetailListViewDto">
		SELECT
		equipment_name AS equipmentName,
		parent_stock_code AS
		parentStockCode,
		staff_name AS staffName,
		rent_flag AS rentFlag,
		start_date AS startDate,
		limit_date AS limitDate,
		confirmed_date AS
		confirmedDate,
		remarks AS remarks
		FROM equip_detail_view
		WHERE
		equipment_name LIKE CONCAT('%', #{name}, '%')
		AND rent_flag = '貸出中'
	</select>

	<!--貸出画面表示の場合 -->
	<select id="borrowingFind"
		resultType="jp.co.sss.equipment.dto.DetailListViewDto">
		SELECT
		equipment_name AS equipmentName,
		parent_stock_code AS
		parentStockCode,
		staff_name AS staffName,
		rent_flag AS rentFlag,
		start_date AS startDate,
		limit_date AS limitDate,
		confirmed_date AS
		confirmedDate,
		remarks AS remarks,
		equipment_id AS equipmentId,
		staff_no AS staffNo
		FROM equip_detail_view
		WHERE equipment_name LIKE CONCAT('%', #{name}, '%')
		AND rent_flag = '可'
	</select>
	
	<!-- シリアルナンバー検索 -->
		<select id="serialNoFind"
		resultType="jp.co.sss.equipment.dto.DetailListViewDto">
		SELECT
		equipment_name AS equipmentName,
		stock_type AS stockType,
		parent_stock_code AS
		parentStockCode,
		staff_name AS staffName,
		rent_flag AS rentFlag,
		start_date AS startDate,
		limit_date AS limitDate,
		destination_serial AS destinationSerial,
		product_name AS productName,
		maker AS maker,
		ownership_type AS ownershipType,
		lease_return_date AS leaseReturnDate,	
		confirmed_date AS confirmedDate,
		remarks AS remarks,
		equipment_id AS equipmentId,
		rent_flag AS rentFlag,
		staff_no
		AS staffNo
		FROM equip_detail_view
		WHERE parent_stock_code = #{serialNo}
	</select>
</mapper>