<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.equipment.mapper.EmployeeMapper">


	<!-- ハッシュ化したパスワード検索 -->
	<!-- 社員IDでユーザー検索 -->
	<select id="findByEmpId"
		resultType="jp.co.sss.equipment.entity.StaffData">

		SELECT
		staff_no,
		name,
		password,
		mail,
		auth_no,
		del
		FROM
		staff_data
		WHERE
		staff_no = #{empId}
		AND
		del = 0

	</select>

</mapper>