<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="jp.co.sss.equipment.mapper.EquimentDeleteMapper">
	<!-- 備品の論理削除 -->
	<update id="deleteBySerialNo" parameterType="string">
		UPDATE stock_master
		SET
		del = 1,
		remarks = '削除済み・返却待ちです'
		WHERE stock_code = #{serialNo}
	</update>
</mapper>