<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="jp.co.sss.equipment.mapper.EquipmentRegistMapper">
	<!-- 在庫種別マスタ全件取得 -->
	<select id="categoryFind"
		resultType="jp.co.sss.equipment.entity.StockTypeMaster">
		SELECT
		id AS id,
		stock_type AS stockType,
		name AS name,
		del AS
		del
		FROM stock_type_master
	</select>

	<!-- カテゴリ名検索 -->
	<select id="findByCategoryId"
		resultType="jp.co.sss.equipment.entity.StockTypeMaster">
		SELECT
		id AS id,
		stock_type AS stockType,
		name AS name,
		del AS
		del
		FROM stock_type_master
		WHERE
		stock_type = #{categoryId}
	</select>
	
	<!-- idの採番 および　データの追加　シリアル以外-->
	<insert id="equipmentRegistInsert"
        parameterType="jp.co.sss.equipment.entity.StockMaster"
        useGeneratedKeys="true"
        keyProperty="id">

    INSERT INTO stock_master (
        name,
        model,
        maker,
        stock_type,
        rent_flag,
        ownership_type,
        lease_return_date,
        remarks,
        del
    ) VALUES (
        #{name},
        #{model},
        #{maker},
        #{stockType},
        #{rentFlag},
        #{ownershipType},
        #{leaseReturnDate},
        #{remarks},
        #{del}
    )
</insert>

<!-- データの更新　シリアル以外-->
<update id="equipmentRegistUpdate"
        parameterType="jp.co.sss.equipment.entity.StockMaster">
    UPDATE stock_master
    SET stock_code = #{stockCode}
    WHERE id = #{id}
</update>

<!-- 貸出開始処理 -->
	<insert id="insertForId"
    parameterType="jp.co.sss.equipment.entity.StockData"
    useGeneratedKeys="true"
    keyProperty="id">
    INSERT INTO stock_data (del)
    VALUES ('0')
</insert>

<update id="equimentBorrowingStartInsert"
    parameterType="jp.co.sss.equipment.entity.StockData">
    UPDATE stock_data
    SET
        stock_code = #{stockCode},
        confirmed_date = CURRENT_DATE
    WHERE id = #{id}
</update>
</mapper>