<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapperインターフェスと修飾名を一致させる -->
<mapper namespace="jp.co.sss.equipment.mapper.StaffCommonMapper">
	<!--スタッフ情報の取り出し -->
	<select id="staffFind"
		resultType="jp.co.sss.equipment.entity.StaffData">
		SELECT
		staff_no AS staffNo,
		name AS name,
		password AS
		password,
		auth_no AS authNo,
		del AS del
		FROM staff_data
		WHERE del = 0
	</select>

	<!-- スタッフ情報１件のみ -->
	<select id="staffFindIndividual"
		resultType="jp.co.sss.equipment.entity.StaffData">
		SELECT
		staff_no AS staffNo,
		name AS name,
		password AS
		password,
		auth_no AS authNo,
		del AS del
		FROM staff_data
		WHERE staff_no =
		#{staffNo}
	</select>

	<!-- 権限検索 -->
	<select id="authFind"
		resultType="jp.co.sss.equipment.entity.AuthMaster">
		SELECT
		auth_no AS authNo,
		auth_name AS authName,
		remarks AS
		remarks,
		del AS del
		FROM auth_master
	</select>


	<!-- 権限検索 -->
	<select id="authFindById"
		resultType="jp.co.sss.equipment.entity.AuthMaster">
		SELECT
		auth_no AS authNo,
		auth_name AS authName,
		remarks AS
		remarks,
		del AS del
		FROM auth_master
		WHERE auth_no = #{authNo}
	</select>
	
		<!--スタッフ情報の取り出し -->
	<select id="allIdFind"
		resultType="jp.co.sss.equipment.entity.StaffData">
		SELECT
		staff_no AS staffNo,
		name AS name,
		password AS
		password,
		auth_no AS authNo,
		del AS del
		FROM staff_data
	</select>

</mapper>