<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<header th:fragment="layout-header">
	  <nav class="main-nav">
	    <div class="nav-left">
	      <a th:href="@{/index}" class="logo">備品管理システム</a>

	      <!-- 備品登録（4と99は非表示） -->
	      <a th:if="${session.user != null and session.user.authNo != 4 and session.user.authNo != 99}"
	         th:href="@{/equipment/regist/input}"
	         class="nav-link">備品登録</a>
	    </div>
		
		<!-- 貸出履歴 -->
		<a th:if="${session.user != null and session.user.authNo != 4 and session.user.authNo != 99}"
		th:href="@{/equipment/history}"
		     class="nav-link">貸出履歴</a>

	    <!-- 右側（ログイン中のみ表示） -->
	    <div class="nav-right" th:if="${session.user != null}">
	      <span th:text="${session.user.name}"></span>さん
	      <a th:href="@{/logout}" class="nav-link">ログアウト</a>
	    </div>
	  </nav>
	</header>

</body>

</html>