<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>
<header th:fragment="layout-header">
	<nav class="main-nav">

		<!-- 左側 -->
		<div class="nav-left">
			<a th:href="@{/index}" class="logo">備品管理システム</a>

			<!-- 備品メニュー -->
			<div class="dropdown" th:if="${session.user != null}">

				<div id="equipmentMenu" class="dropdown-menu">
					<a th:if="${session.user.authNo != 4 and session.user.authNo != 99}"
					   th:href="@{/equipment/regist/input}">
						備品登録
					</a>

					<a th:if="${session.user.authNo != 4 and session.user.authNo != 99}"
					   th:href="@{/equipment/history}">
						貸出履歴
					</a>
				</div>
			</div>

			<!-- ユーザーメニュー -->
			<div class="dropdown" th:if="${session.user != null}">

				<div id="userMenu" class="dropdown-menu">
					<a th:if="${session.user.authNo != 4 and session.user.authNo != 99}"
					th:href="@{/user/index}">
						ユーザー一覧
					</a>

					<a th:if="${session.user.authNo != 4 and session.user.authNo != 99}"
					th:href="@{/user/regist/input}">
						ユーザー登録
					</a>
				</div>
			</div>

		</div>

		<!-- 右側 -->
		<div class="nav-right" th:if="${session.user != null}">
			<a th:href="@{/user/detail/{staffNo}(staffNo=${session.user.staffNo})}">
				<span th:text="${session.user.name}"></span>さん
			<a th:href="@{/logout}" class="nav-link">ログアウト</a>
		</div>

	</nav>
</header>



</body>
</html>