<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー詳細</title>
</head>

<body>
	<table border="1">
		<tr>
			<th>ID</th>
			<td th:text="${staff.staffNo}"></td>
		</tr>

		<tr>
			<th>名前</th>
			<td th:text="${staff.name}"></td>
		</tr>

		<tr>
			<th>権限</th>
			<td th:text="${staff.authName}"></td>
		</tr>
	</table>

	<a th:href="@{/user/update/input/{staffNo}(staffNo=${staff.staffNo})}">
		<button type="button">編集</button>
	</a>

	<a th:href="@{/user/index}">
		<button type="button">戻る</button>

	</a>

</body>

</html>