<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/user/userDetail.css}">
	<title>ユーザー詳細</title>
</head>

<body>
	<header>
		<div th:replace="~{common/header :: layout-header}"></div>
	</header>

	<h1>ユーザー詳細</h1>

	<table border="1">
		<tr>
			<th>ID</th>
			<td th:text="${staff.staffNo}"></td>
		</tr>

		<tr>
			<th>名前</th>
			<td th:text="${staff.name}"></td>
		</tr>

		<tr>
			<th>権限</th>
			<td th:text="${staff.authName}"></td>
		</tr>
	</table>

	<div class="button-area">
		<a th:href="@{/user/update/input/{staffNo}(staffNo=${staff.staffNo})}">
			<button type="button" class="edit-btn">編集</button>
		</a>

		<a th:if="${session.user.staffNo != staff.staffNo}"
		   th:href="@{/user/delete/view/{staffNo}(staffNo=${staff.staffNo})}">
			<button type="button" class="delete-btn">削除</button>
		</a>

		<a th:href="@{/user/index}">
			<button type="button" class="back-btn">戻る</button>
		</a>
	</div>

</body>

</html>