<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/user/userView.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<title>社員一覧</title>
</head>

<body>
	<header>
			<div th:replace="~{common/header :: layout-header}"></div>
		</header>
		
		<h1>ユーザー一覧</h1>
		
	<table border="1">
		<tr>
			<th>詳細</th>
			<th>ID</th>
			<th>名前</th>
			<th>権限</th>
		</tr>

		<tr th:each="staff : ${staffList}">
			<td>
				<a th:href="@{/user/detail/{staffNo}(staffNo=${staff.staffNo})}">
					詳細
				</a>
			</td>
			<td th:text="${staff.staffNo}"></td>
			<td th:text="${staff.name}"></td>
			<td th:text="${staff.authName}"></td>
		</tr>
	</table>

</body>

</html>