<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/equipmentCheck.css}">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<title>編集確認画面</title>
</head>

<body>
	<div th:replace="~{common/layout :: header}"></div>
	<div class="center-wrapper">
		<h1>備品編集確認画面</h1>
		<form id="regist" th:action="@{/equipment/update/complete}" method="post" th:object="${equipmentForm}">
			<!--エラーメッセージの出力-->
			<p>
				<span th:each="error:${#fields.detailedErrors()}">
					<span th:text="${error.message}"></span><br />
				</span>
			</p>
			<table border="1" class="detail-table">
				<tr>
					<th class="detail-table-header" colspan="2" style="text-align:center;">備品情報</th>
				</tr>

				<!--カテゴリ-->
				<tr>
					<th>カテゴリ</th>
					<td>
						<span th:text="${categoryName}"></span>
						<input type="hidden" th:field="*{categoryId}" />
					</td>
				</tr>

				<!--備品名-->
				<tr>
					<th>備品名</th>
					<td th:text="${equipmentForm.equipmentName}"></td>
				</tr>

				<tr th:if="${equipmentForm.model != null and !#strings.isEmpty(equipmentForm.model)}">
					<th>モデル</th>
					<td th:text="${equipmentForm.model}"></td>
				</tr>

				<!--メーカー-->
				<tr th:if="${equipmentForm.maker != null and !#strings.isEmpty(equipmentForm.maker)}">
					<th>メーカー</th>
					<td th:text="${equipmentForm.maker}"></td>
				</tr>

				<!--分類-->
				<tr>
					<th>分類</th>
					<td th:switch="${equipmentForm.ownershipType}" id="rentalType" onchange="stockType();">
						<span th:case="1">会社保有</span>
						<span th:case="2">リース品</span>
					</td>
				</tr>

				<!--リース返却日-->
				<tr th:if="${equipmentForm.leaseReturnDate != null 
			            and !#strings.isEmpty(equipmentForm.leaseReturnDate)}">
					<th>リース返却日</th>
					<td th:text="${equipmentForm.leaseReturnDate}"></td>
				</tr>

				<!--備考-->
				<tr>
					<th>備考</th>
					<td th:text="${equipmentForm.remarks}"></td>
				</tr>
				<!--貸出可否-->
				<tr>
					<th>貸出可否</th>
					<td th:switch="${equipmentForm.rentFlag}">
						<span th:case="0">貸出可能</span>
						<span th:case="1">貸出不可</span>
					</td>
				</tr>
			</table>
		</form>

		<!--ボタン-->
		<div class="deleteBackWrapper">
			<!--登録完了ボタン-->
			<form th:action="@{/equipment/update/complete}" method="post" th:object="${equipmentForm}">
				<input type="hidden" th:field="*{categoryId}" />
				<input type="hidden" th:field="*{equipmentName}" />
				<input type="hidden" th:field="*{model}" />
				<input type="hidden" th:field="*{maker}" />
				<input type="hidden" th:field="*{ownershipType}" />
				<input type="hidden" th:field="*{leaseReturnDate}" />
				<input type="hidden" th:field="*{remarks}" />
				<input type="hidden" th:field="*{rentFlag}" />
				<input type="hidden" th:field="*{stockCode}" />
				<button class="deleteBackButton registComplete" type="submit">登録</button>
			</form>

			<!--登録入力画面へ戻る-->
			<form th:action="@{/equipment/update/back}" method="post" th:object="${equipmentForm}">
				<input type="hidden" th:field="*{categoryId}" />
				<input type="hidden" th:field="*{equipmentName}" />
				<input type="hidden" th:field="*{model}" />
				<input type="hidden" th:field="*{maker}" />
				<input type="hidden" th:field="*{ownershipType}" />
				<input type="hidden" th:field="*{leaseReturnDate}" />
				<input type="hidden" th:field="*{remarks}" />
				<input type="hidden" th:field="*{rentFlag}" />
				<input type="hidden" th:field="*{stockCode}" />
				<button class="deleteBackButton backDetail" type="submit">戻る</button>
			</form>
		</div>
	</div>
</body>

</html>