<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<title>棚卸確認画面</title>
</head>

<body>
	<div th:replace="~{common/layout :: header}"></div>

	<h1>棚卸し確認</h1>

	<form th:action="@{/inventory/complete}" method="post" th:object="${inventoryForm}">
		<table border="1">
			<tr>
				<th>シリアルナンバー</th>
				<th>備品名</th>
				<th>カテゴリ</th>
				<th>貸出状態</th>
				<th>所有区分</th>
				<th>最終所在確認日</th>
			</tr>

			<tr th:each="item, stat : *{inventoryList}" th:if="${item.checked}">
				<td th:text="${item.stockCode}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.categoryName}"></td>
				<td th:text="${item.statusName}"></td>
				<td th:text="${item.ownershipTypeName}"></td>
				<td th:text="${item.confirmedDate}"></td>

				<td style="display:none;">
					<input type="hidden" th:field="*{inventoryList[__${stat.index}__].stockCode}">
					<input type="hidden" th:field="*{inventoryList[__${stat.index}__].name}">
					<input type="hidden" th:field="*{inventoryList[__${stat.index}__].categoryName}">
					<input type="hidden" th:field="*{inventoryList[__${stat.index}__].statusName}">
					<input type="hidden" th:field="*{inventoryList[__${stat.index}__].ownershipTypeName}">
					<input type="hidden" th:field="*{inventoryList[__${stat.index}__].checked}">
					<input type="hidden" th:field="*{inventoryList[__${stat.index}__].confirmedDate}">
				</td>
			</tr>
		</table>

		<button type="submit">確定</button>
		<a th:href="@{/equipment/inventory}">
			<button type="button">戻る</button>
		</a>
	</form>

</body>

</html>