<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/equipment/inventoryCheck.css}">
	<title>棚卸確認画面</title>
</head>

<body>
	<div th:replace="~{common/layout :: header}"></div>

	<main>
		<h1 class="page-title">棚卸し確認</h1>

		<form class="form-area" th:action="@{/inventory/complete}" method="post" th:object="${inventoryForm}">
			<table class="inventory-table">
				<tr>
					<th>シリアルナンバー</th>
					<th>備品名</th>
					<th>カテゴリ</th>
					<th>貸出状態</th>
					<th>所有区分</th>
					<th>最終所在確認日</th>
				</tr>

				<tr th:each="item, stat : *{inventoryList}" th:if="${item.checked}">
					<td th:text="${item.stockCode}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.categoryName}"></td>
					<td th:text="${item.statusName}"></td>
					<td th:text="${item.ownershipTypeName}"></td>
					<td th:text="${item.confirmedDate}"></td>

					<td style="display:none;">
						<input type="hidden" th:field="*{inventoryList[__${stat.index}__].stockCode}">
						<input type="hidden" th:field="*{inventoryList[__${stat.index}__].name}">
						<input type="hidden" th:field="*{inventoryList[__${stat.index}__].categoryName}">
						<input type="hidden" th:field="*{inventoryList[__${stat.index}__].statusName}">
						<input type="hidden" th:field="*{inventoryList[__${stat.index}__].ownershipTypeName}">
						<input type="hidden" th:field="*{inventoryList[__${stat.index}__].checked}">
						<input type="hidden" th:field="*{inventoryList[__${stat.index}__].confirmedDate}">
					</td>
				</tr>
			</table>

			<div class="button-area">
				<button type="submit" class="btn btn-submit">確定</button>
				<a class="btn btn-back" th:href="@{/equipment/inventory}">戻る</a>
			</div>
		</form>
	</main>

</body>

</html>