<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/user/userInputCheck.css}">
	<title>ユーザー更新確認</title>
</head>

<body>
	<header>
		<div th:replace="~{common/header :: layout-header}"></div>
	</header>

	<main>
		<h1>更新内容確認</h1>

		<div class="confirm-area">
			<form th:action="@{/user/update/complete}" method="post" th:object="${userForm}">

				<div class="confirm-row">
					<div class="confirm-label">ID</div>
					<div class="confirm-value">
						<span th:text="*{staffNo}"></span>
					</div>
				</div>

				<div class="confirm-row">
					<div class="confirm-label">名前</div>
					<div class="confirm-value">
						<span th:text="*{name}"></span>
					</div>
				</div>

				<div class="confirm-row">
					<div class="confirm-label">権限</div>
					<div class="confirm-value">
						<span th:text="${authMaster.authName}"></span>
					</div>
				</div>

				<input type="hidden" th:field="*{staffNo}">
				<input type="hidden" th:field="*{name}">
				<input type="hidden" th:field="*{auth}">
				<input type="hidden" th:field="*{oldStaffNo}">
				<input type="hidden" th:field="*{password}">

				<div class="button-area">
					<button type="submit">更新する</button>
				</div>
			</form>

			<!--戻る-->
			<form th:action="@{/user/update/input}" method="post" th:object="${userForm}">
				<input type="hidden" th:field="*{staffNo}">
				<input type="hidden" th:field="*{name}">
				<input type="hidden" th:field="*{auth}">
				<input type="hidden" th:field="*{oldStaffNo}">
				<input type="hidden" th:field="*{password}">
				<input type="hidden" th:field="*{currentPassword}">

				<div class="button-area">
					<button type="submit">戻る</button>
				</div>
			</form>
		</div>
	</main>
</body>
</html>