<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/common.css}">
	<link rel="stylesheet" th:href="@{/css/user/userInputCheck.css}">
	<title>登録確認画面</title>
</head>

<body>
	<header>
		<div th:replace="~{common/header :: layout-header}"></div>
	</header>

	<main>
		<h1>登録確認画面</h1>

		<div class="confirm-area">
			<form th:action="@{/user/regist/complete}" method="post" th:object="${userRegistForm}">

				<div class="confirm-row">
					<div class="confirm-label">ID</div>
					<div class="confirm-value">
						<span th:text="*{staffNo}"></span>
					</div>
				</div>

				<div class="confirm-row">
					<div class="confirm-label">社員名</div>
					<div class="confirm-value">
						<span th:text="*{name}"></span>
					</div>
				</div>

				<div class="confirm-row">
					<div class="confirm-label">パスワード</div>
					<div class="confirm-value">
						<span>********</span>
					</div>
				</div>

				<div class="confirm-row">
					<div class="confirm-label">権限</div>
					<div class="confirm-value">
						<span th:text="${authMaster.authName}"></span>
					</div>
				</div>

				<input type="hidden" th:field="*{staffNo}">
				<input type="hidden" th:field="*{name}">
				<input type="hidden" th:field="*{password}">
				<input type="hidden" th:field="*{auth}">

				<div class="button-area">
					<button type="submit">登録</button>
				</div>
			</form>

			<form th:action="@{/user/regist/input}" method="get">
				<div class="button-area">
					<button type="submit">戻る</button>
				</div>
			</form>
		</div>
	</main>
</body>
</html>