<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!--thymeleafの宣言-->

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/layout.css}">
	<title>返却</title>
</head>

<body class="body">
	<a>備品返却画面</a>
	<br>
	<!--/* 備品の名前を表示させる */-->
	<a th:text="${detailName.equipmentName}"></a>
	<div class="fc_red" th:text="${errorMessage}"></div>
	<!--/* ボタンを押下した時にコントローラの/returnProcessが呼び出し */-->
	<!--/* th:ifでデータが存在しない場合テーブルと返却ボタンが表示されないようにする */-->
	<form th:action="@{/returnProcess}" method="post" th:if="${itemDetail != null and !#lists.isEmpty(itemDetail)}">
		<input type="hidden" name="name" th:value="${detailName.equipmentName}">
		<table border="1">
			<tr class="front_label_color">
				<th>シリアルナンバー</th>
				<th>使用者</th>
				<th>貸出開始日</th>
				<th>返却予定日</th>
				<th>備考</th>
				<th>返却</th>
			</tr>
			<tr th:each="item : ${itemDetail}">
				<td th:text="${item.parentStockCode}"></td>
				<td th:text="${item.staffName}"></td>
				<td th:text="${item.startDate}"></td>
				<td th:text="${item.limitDate}"></td>
				<td th:text="${item.remarks}"></td>
				<td>
					<!--/* チェックボックスにシーケンスidを反映させる
						**チェックした分だけコントローラに渡す */-->
					<input type="checkbox" name="equipmentIdList" th:value="${item.equipmentId}">
				</td>
			</tr>
		</table>
		<button type="submit">返却</button>
	</form>
	<!-- 貸出中の備品がないとき -->
	<p th:if="${itemDetail == null or #lists.isEmpty(itemDetail)}">
		貸出中の備品はありません
	</p>

	<form th:action="@{/detailBack}" method="get">
		<input type="hidden" name="name" th:value="${detailName.equipmentName}">
		<button type="submit">戻る</button>
	</form>
</body>

</html>