<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/detailLayout.css}">
	<title>備品詳細</title>
</head>

<body class="body">
	<h2 class="title">備品詳細画面</h2>
	<br>
	<h2 th:text="${detailName.equipmentName}"></h2>
	<div class="table-area">
		<div class="table-wrapper">
			<table border="1" class="borrow-table">
				<colgroup>
					<col class="col-serial">
					<col class="col-user">
					<col class="col-status">
					<col class="col-start">
					<col class="col-limit">
					<col class="col-check-location">
					<col class="col-remarks">
				</colgroup>

				<tr class="front_label_color">
					<th>シリアルナンバー</th>
					<th>使用者</th>
					<th>貸出可否</th>
					<th>貸出開始日</th>
					<th>返却予定日</th>
					<th>最終所在確認日</th>
					<th>備考</th>
				</tr>

				<tr th:each="item : ${itemDetail}">
					<td class="col-serial" th:text="${item.parentStockCode}"></td>
					<td class="col-user" th:text="${item.staffName}"></td>
					<td class="col-status" th:text="${item.rentFlg}"></td>
					<td class="col-start" th:text="${item.startDate}"></td>
					<td class="col-limit" th:text="${item.limitDate}"></td>
					<td class="col-check-location" th:text="${item.confirmedDate}"></td>
					<td class="col-remarks">
						<div class="scroll-inner">
							<p th:text="${item.remarks}"></p>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div class="table-buttons">
			<form th:action="@{/borrowingView}" method="get">
				<input type="hidden" name="name" th:value="${detailName.equipmentName}">
				<button class="borrowingButton" type="submit">貸出</button>
			</form>

			<form th:action="@{/returnView}" method="get">
				<input type="hidden" name="name" th:value="${detailName.equipmentName}">
				<button class="returnButton" type="submit">返却</button>
			</form>

			<form th:action="@{/index}" method="get">
				<button class="indexReturnButton" type="submit">一覧に戻る</button>
			</form>
		</div>
	</div>
</body>

</html>